@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

.box{
    font-family: Poppins;
}

.title{
    text-align: center;
    font-size:15px;;

}

.openBox{
    color:#fff;
    background-color: rgba(0, 153, 255, 0.521);
}

.parag{
    font-size:10px;
}